<template>
		<v-row justify="center">
			<v-dialog
				v-model="dialog"
				max-width="290"
				style="z-index:10000;"
			>
				<v-card
					style="z-index:10001;"
					>
					<v-card-title class="text-h5">
						Save trained model weights?
					</v-card-title>
					
					<v-card-text>
						You can save it or train it again
					</v-card-text>
					<v-card-text>
					<v-row>
						<v-text-field
							v-model="password"
							label="Password?"
							required
							outlined
						></v-text-field>
					</v-row>
					</v-card-text>
					
					<v-card-actions>
						<v-spacer></v-spacer>
						
						<v-btn
							color="green darken-1"
							text
							@click="dialog = false"
						>Don't save
						</v-btn>
						
						<v-btn
							color="green darken-1"
							text
							@click="save()"
						>save</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-row>
</template>

<script>
export default {
	name: "saveModelDialog",
	props: ['dialog', 'model'],
	data: () => ({
		password: ''
	}),
	methods:{
		async save(){
			this.dialog=false;
			if(this.password=='zxcv'){
				// let weights = this.model.getWeights();
				// this.model.setWeights(weights);
				// console.log(weights, 'сохранил веса');
				const saveResult=await this.model.save('localstorage://tfModel-number-prediction');
				//todo: сменить сервер !!!
				const saveResult2=await this.model.save(this.$tf.io.browserHTTPRequest(
					'https://ai.uis-dev.com/',
					{method: 'PUT', headers: {'header_key_1': 'tfModel-number-prediction'}}));
			}
			// this.$db.ref('modelWeights').set(saveResult);
		}
	}
}
</script>

<style scoped>

</style>