<template>
		<v-row justify="center">
			
			<v-dialog
				v-model="dialog"
				max-width="490"
				style="z-index:10000;"
			>
				<template v-slot:activator="{ on, attrs }">
					<v-btn
						color="dark"
						elevation="5"
						small
						class="ml-2"
						v-bind="attrs"
						v-on="on"
					>Start Train</v-btn>
				</template>
				<v-card>
					<v-card-title class="text-h5">
						Confirm start training?
					</v-card-title>
					
					<v-card-text>
						<v-row>
							<v-text-field
								v-model="trainEpochs"
								label="How many iterations?"
								required
								outlined
							></v-text-field>
						</v-row>
						<v-row>
							<v-text-field
								v-model="batchSize"
								label="BatchSize?"
								required
								outlined
							></v-text-field>
						</v-row>
					</v-card-text>
					
					<v-card-actions>
						<v-spacer></v-spacer>
						
						<v-btn
							color="green darken-1"
							text
							@click="dialog = false"
						>Close
						</v-btn>
						
						<v-btn
							color="green darken-1"
							text
							@click="setupStartTrainData"
						>Start
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-row>
</template>

<script>
export default {
	name: "startTrainDialog",
	event: ['train'],
	data: () => ({
		dialog: false,
		trainEpochs: 3,
		batchSize: 320,
	}),
	methods:{
		setupStartTrainData(){
			this.$emit('train',{
				trainEpochs: Math.max(1,this.trainEpochs),
				batchSize: Math.max(1,this.batchSize),
			});
			this.dialog = false;
		}
	}
}
</script>

<style scoped>

</style>