<template>
	<v-app>
		<v-app-bar
			app
			color="primary"
			dark id="appBar"
		>
			<div class="d-flex align-center">
				Demonstration of Google Javascript AI recognizing technology by Okhmat Anton & United Ideas Solutions
				Inc.
			</div>
			<v-spacer></v-spacer>
			
			<v-btn
				color="dark"
				elevation="5"
				small
				@click="clearModel()"
				class="ml-2"
				v-if="isShowTfvis"
			>Clear model
			</v-btn>
			<v-btn
				color="dark"
				elevation="5"
				small
				@click="uploadMNIST()"
				class="ml-2"
				v-if="isShowTfvis"
			>Upload MNIST
			</v-btn>
			<v-btn
				color="dark"
				elevation="5"
				small
				@click="stopTrain()"
				class="ml-1 mr-2"
				v-if="isShowTfvis"
			>Stop Train
			</v-btn>
			<v-btn
				color="dark"
				elevation="5"
				small
				@click="showSaveModelDialog()"
				class="ml-1 mr-2"
				v-if="isShowTfvis"
			>Save
			</v-btn>
			<start-train-dialog v-if="isShowTfvis" v-on:train="train"/>
			<v-btn
				color="secondary"
				elevation="5"
				small
				@click="showTfVisor()"
				class="ml-5 mr-2"
			>Train It
			</v-btn>
		</v-app-bar>
		
		<v-main>
			<main-page :model="tfModel"/>
			<save-model-dialog v-if="dialogSaveModel" :dialog="dialogSaveModel" :model="tfModel"/>
		</v-main>
		<v-overlay :value="overlay"
				   :z-index="10000"
		>
			<v-progress-circular
				indeterminate
				size="64"
			></v-progress-circular>
		</v-overlay>
	</v-app>
</template>

<script>

import MainPage from "./components/mainPage";
import {mapGetters} from "vuex";
import SaveModelDialog from "./components/saveModelDialog";
import StartTrainDialog from "./components/startTrainDialog";

export default {
	name: 'App',
	components: {
		StartTrainDialog,
		SaveModelDialog,
		MainPage
	},
	
	data: () => ({
		tfvis: null,
		isShowTfvis: false,
		overlay: false,
		
		dialogSaveModel: false,
		dialogStartTrain: false,
	}),
	async mounted(){
		
		let modelInfo = localStorage.getItem('tensorflowjs_models/tfModel-number-prediction-TMP/info');
		if(modelInfo){
			console.log('Начинаем грузить модель из памяти tfModel-number-prediction-TMP');
			this.tfModel = await this.$tf.loadLayersModel('localstorage://tfModel-number-prediction-TMP');
			localStorage.removeItem('tensorflowjs_models/tfModel-number-prediction-TMP/info');
			console.log('Загрузил модель из памяти');
		}else{
			console.log('Начинаем грузить модель с сервера');
			this.$tf.loadLayersModel('https://ai.uis-dev.com/model.json').then(
				res => {
					this.tfModel=res;
					console.log('Загрузил модель с сервера');
				}
			).catch(() => {
				this.tfModel=this.tfCreateConvModel();
				this.tfModel.summary();
			});
		}
	},
	computed: {
		...mapGetters([
			'getMnistData',
			'getModelWeights'
		])
	},
	methods: {
		clearModel(){
			// window.localStorage.clear();
			// location.reload();
			// fetch("https://ai.uis-dev.com/clear.php");
			this.tfModel=this.tfCreateConvModel();
			this.tfModel.summary();
		},
		stopTrain(){
			this.tfStopTrainNow();
		},
		showSaveModelDialog(){
			this.dialogSaveModel=true;
		},
		async uploadMNIST(){
			if(!this.mnistData){
				this.overlay=true;
				await this.tfLoadMnistTrainingData();
				this.overlay=false;
			}
			// вывести пример 50 картинок
			await this.showDemoMnistData(50);
			this.tfUi().logStatus('Starting model training...');
		},
		async train(data){
			this.showTfVisor(true);
			if(!this.mnistData){
				await this.uploadMNIST();
			}
			this.tfTrainEpochs=data.trainEpochs;
			this.tfTrainEpochs=data.trainEpochs;
			await this.tfTrain(this.tfModel, () => {
				this.tfUi().showPredictions(this.tfModel, 27);
			});
			// this.dialogSaveModel=true;
		},
		async showDemoMnistData(count){
			const examples=this.tfGetTestData(count);
			const numExamples=examples.xs.shape[0];
			
			for(let i=0; i < numExamples; i++){
				const imageTensor=this.$tf.tidy(() => {
					return examples.xs.slice([i, 0], [1, examples.xs.shape[1]]).reshape([28, 28, 1]);
				}); // Create a canvas element to render each example
				const canvas=document.createElement('canvas');
				canvas.width=28;
				canvas.height=28;
				canvas.style='margin: 4px;';
				await this.$tf.browser.toPixels(imageTensor, canvas);
				
				this.surfaces.inputDataMnist.drawArea.appendChild(canvas);
				imageTensor.dispose();
			}
		},
		showTfVisor(onlyShow=false){
			this.dialogSaveModel = false;
			if(!this.tfvis){
				this.tfvis=this.$tfvis.visor();
				// update tfvis css!!!
				let appBar=document.getElementById("appBar")?.getBoundingClientRect();
				let tfVisorPanel=document.getElementById("tfjs-visor-container")?.childNodes?.[0];
				tfVisorPanel.style.height='calc(100% - ' + appBar.height + 'px)';
				tfVisorPanel.style['margin-top']=appBar.height + 'px';
				// add tabs
				this.isShowTfvis=true;
				this.tfvisSetupBaseData();
			}else{
				if(onlyShow || !this.$tfvis.visor().isOpen()){
					this.$tfvis.visor().open();
					this.isShowTfvis=true;
				}else{
					this.$tfvis.visor().close();
					this.isShowTfvis=false;
				}
			}
		}
	}
};
</script>
